 body {
    background-color: rgba(255, 196, 210, 0.877);
    font-style: oblique;
    font-size: large;
    color: rgb(119, 27, 58);
   
}


.content{
    margin: auto;
    width: 60%;
    text-align: center;
}



.a{
    width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: palevioletred;
}

li a {
    display: inline-block;
    color: rgba(255, 209, 220, 0.877);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li a:hover{
    background-color: rgb(119, 27, 58);
    color: white;
}



ul li{
    color: rgb(119, 27, 58);
    font-size: x-large;
}



ul.b{
    list-style: circle;
    list-style-position: inside;
    text-align:justify;
}

.active{
    background-color: white;
    color: rgb(239, 34, 137);
}

.active:hover{
    background-color: white;
    color: rgb(239, 34, 137);
}


.sticky{
    position: sticky;
    top: 0;
}