 body {
    background-color: rgba(255, 196, 210, 0.877);
    font-style: oblique;
    font-size: large;
    color: rgb(119, 27, 58);
}


.content{
    margin: auto;
    width: 60%;
    text-align: center;
}


ul.a{
    list-style: square, inside;
    background-color: rgb(255, 228, 237);
    padding: 15px;
    font-size: large;
    margin: 15px;
   
}



ul li{
    color: rgb(119, 27, 58);
    font-size: x-large;
}



ul.b{
    list-style: circle;
    list-style-position: inside;
    text-align:justify;
}


